//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================
html{
  background-color: #000;
}
body {
  font-family: 'Roboto';
  font-size: 14px;
  color: @gray-dark;
}

img {
  max-width: 100%;
  height: auto;
}

.img-responsive{
	width:100%;
	max-width:auto;
}

p{
  line-height: 130%;
  margin-bottom: 20px;
  font-size: 15px;
}

h1{
  font-size:45px;
  font-weight:bold;
  /*line-height: 1.1;
  color: @gray-dark;
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 20px;
  margin: 0;*/
}

h2 {
 /* margin: 0;
  padding-top:15px;
  padding-bottom: 24px;
  font-weight: 800;
  line-height: 1.4;
  color: @gray-dark;
  font-size: 18px;
  line-height: 1.45;
  font-size: 20px;*/
  font-size:18px;
  font-weight:900;
}

h3{
  /*margin-bottom: 10px;
  margin-top:0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: @gray-dark;*/
}

h4 {
  /*color: @brand-red;
  padding-bottom: 6px;
  padding-top: 15px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.4;
  margin:0;*/
}
h5{
    /*font-size: 15.5px;
    font-weight: 700;
    line-height: 170%;
    margin-bottom:20px;*/
}

strong,b{
  font-weight: 700;
}

select{
	height:36px;
	padding: 5px 10px;
}

.container{
  position: relative;
}

.img-responsive{
	width:100%;
}

.noPadding{
	padding-left:0!important;
	padding-right:0!important;
}

.main{
	margin-top:50px;
	margin-bottom:15px;
	float:none!important;
}

.sidebar-primary{
	.main{
		width:100% !important;
		float:none !important;
	}
}

.pagination_bar_container{
	width:100%;
	margin:20px 0;
	padding-bottom:50px;
	text-align:center;
	.pagination_bar{
		display:inline-block;
		border:1px solid #DDDEDC;
		border-radius:5px;
		.page-numbers{
			padding:5px 10px;
			border-right:1px solid #DDDEDC;
			display:inline-block;
			color:#003062;
			float:left;
			&:first-child{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			&:last-child{
				border-right:none;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
			&.current{
				color:#fff;
				background:#003062;
			}
		}
	}
}

.fancybox-skin{
	background:#00325c!important;
	color:#fff!important;
}

.table{
	td{
		vertical-align:middle!important;
		padding:8px 20px !important;

	}
	.header{
		td{
			background:#00325c;
			color:#fff;
			font-size:18px;
			a{
				color:#fff;
				&:hover{
					text-decoration:none;
				}
			}
		}
		.logo_video, .logo_audio, .logo_pdf{
			background-position:0 0;
		}
		.fa{
			margin-left:10px;
		}
		/*.header_asc, .header_desc{
			padding-right:10px;	
		}
		.header_asc{
			background:url(../img/arrow_up.png) no-repeat right center;
		}
		.header_desc{
			background:url(../img/arrow_down.png) no-repeat right center;
		}*/
	}
	.logo_video{
		background:url(../img/lectures/logo_video.png) no-repeat;
		background-position:0 -60px;
		width:32px;
		height:30px;
		display:inline-block;
		margin-right:17px;
		padding:0;
		&.enable{
			background-position:0 -120px;
		}
	}
	.logo_audio{
		background:url(../img/lectures/logo_audio.png) no-repeat;
		background-position:0 -62px;
		width:32px;
		height:30px;
		display:inline-block;
		padding:0;
		&.enable{
			background-position:0 -124px;
		}
	}
	.logo_pdf{
		background:url(../img/lectures/logo_pdf.png) no-repeat;
		background-position:0 -62px;
		width:30px;
		height:32px;
		display:inline-block;
		margin-right:17px;
		&.enable{
			background-position:0 -124px;
		}
	}
	.logo_image{
		background:url(../img/lectures/logo_image.png) no-repeat;
		width:49px;
		height:52px;
		display:inline-block;
	}
}

.searchandfilter{
	ul{
		li{
			display:inline-block;
			padding:0;
			height:45px;
			&.sf-field-search{
				width:80%;
				input{
					border: 1px solid #ccccca;
					border-radius: 5px;
					height: 45px;
					margin-right: 10px;
					padding: 0 10px;
					width: 95%;
				}
			}
			&.sf-field-submit{
				input{
					background:url(../img/btn_search_submit.png) no-repeat;
					text-indent:-9999px;
					width:37px;
					height:36px;
					border:0;
					
				}
			}
		}
	}
}

.align-right{
	text-align:right!important;
}

.page-banner-container{
	position:relative;
	margin-bottom:40px;
	h1{
		position:absolute;
		bottom:25px;
		left:65px;
		//color:#fff;
		color:#00325f;
	}
}


//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {

}
//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {


}


//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
  .container{
  	width:1080px;
  }
}