//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================
html{
  background-color: #000;
}
body {
  font-family: 'Roboto';
  font-size: 14px;
  color: @gray-dark;
}

img {
  max-width: 100%;
  height: auto;
}

.img-responsive{
	width:100%;
	max-width:auto;
}

p{
  line-height: 130%;
  margin-bottom: 20px;
  font-size: 15px;
}

h1{
  /*line-height: 1.1;
  color: @gray-dark;
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 20px;
  margin: 0;*/
}

h2 {
 /* margin: 0;
  padding-top:15px;
  padding-bottom: 24px;
  font-weight: 800;
  line-height: 1.4;
  color: @gray-dark;
  font-size: 18px;
  line-height: 1.45;
  font-size: 20px;*/
  font-size:18px;
  font-weight:900;
}

h3{
  /*margin-bottom: 10px;
  margin-top:0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: @gray-dark;*/
}

h4 {
  /*color: @brand-red;
  padding-bottom: 6px;
  padding-top: 15px;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.4;
  margin:0;*/
}
h5{
    /*font-size: 15.5px;
    font-weight: 700;
    line-height: 170%;
    margin-bottom:20px;*/
}

strong,b{
  font-weight: 700;
}

.container{
  position: relative;
}

.img-responsive{
	width:100%;
}

.main{
	margin-top:50px;
	margin-bottom:15px;
	float:none!important;
}

.noPadding{
	padding-left:0!important;
	padding-right:0!important;
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
  .container{
  	width:1080px;
  }
}