.page-banner-container{
	position:relative;
	h1{
		position:absolute;
		bottom:25px;
		left:65px;
		color:#fff;
	}
}

.expandable-container{
	.expandable-header{
		width:100%;
		background:#003062;
		color:#fff;
		padding:10px 30px 10px 60px;
		margin-top:10px;
		font-weight:bold;
		font-size:30px;
		cursor:pointer;
		.fa{
			float:right;
			color:#F8B62C;
			font-size:40px;
		}
		.fa-chevron-up{
			display:none;
		}
		.fa-chevron-down{
			display:block;
		}		
		&.open{
			.fa-chevron-up{
				display:block;
			}
			.fa-chevron-down{
				display:none;
			}
		}
	}
	
	&.steering-committee{
		.expandable-content{
			padding:0 60px;
			.expandable-content-wrapper{
				padding-bottom:10px;
			}
		}
		.committee-item{
			.committee-content{
				width:60%;
				.position{
					font-size:18px;
					margin-bottom:10px;
				}
				.btn-detail{
					margin-bottom:20px;
				}
			}
		}
	}
	
	.expandable-content{
		padding:0 45px;
		overflow:hidden;
		.expandable-content-wrapper{
			padding-bottom:30px;
		}
	}
}

.committee-item{
	margin-top:15px;
	display:table;
	height:100%;
	.committee-content{
		background:#F0EEF6;
		display:table-cell;
		vertical-align: bottom;
		width:70%;
		padding-left:20px;
		.title{
			font-size:18px;
			font-weight:bold;
			margin-bottom:0;	
		}
		.position{
			font-size:18px;
			margin-bottom:5px;
		}
		.btn-detail{
			background:#003062;
			color:#fff;
			font-size:15px;
			padding: 3px 10px;
			border-radius:15px;
			display:inline-block;
			margin-bottom:5px;
		}
	}
}

.members-container{
	padding:0 20px;
}

.pagination_bar_container{
	width:100%;
	margin:20px 0;
	padding-bottom:50px;
	text-align:center;
	.pagination_bar{
		display:inline-block;
		border:1px solid #DDDEDC;
		border-radius:5px;
		.page-numbers{
			padding:5px 10px;
			border-right:1px solid #DDDEDC;
			display:inline-block;
			color:#003062;
			float:left;
			&:first-child{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			&:last-child{
				border-right:none;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
			&.current{
				color:#fff;
				background:#003062;
			}
		}
	}
}