.our-committees, .our-members{
	.page-banner-container{
		margin-bottom:0;
	}
}

.expandable-container{
	.expandable-header{
		width:100%;
		background:#003062;
		color:#fff;
		padding:10px 30px 10px 60px;
		margin-top:10px;
		font-weight:bold;
		font-size:30px;
		cursor:pointer;
		.fa{
			float:right;
			color:#F8B62C;
			font-size:40px;
		}
		.fa-chevron-up{
			display:none;
		}
		.fa-chevron-down{
			display:block;
		}		
		&.open{
			.fa-chevron-up{
				display:block;
			}
			.fa-chevron-down{
				display:none;
			}
		}
	}
	
	&.steering-committee{
		.expandable-content{
			padding:0 60px;
			.expandable-content-wrapper{
				padding-bottom:10px;
			}
		}
		.committee-item{
			.committee-content{
				width:60%;
				.position{
					font-size:18px;
					margin-bottom:10px;
				}
				.btn-detail{
					margin-bottom:20px;
				}
			}
		}
	}
	
	.expandable-content{
		padding:0 45px;
		overflow:hidden;
		.expandable-content-wrapper{
			padding-bottom:30px;
		}
	}
}

.committee-item{
	margin-top:15px;
	display:table;
	height:100%;
	.committee-content{
		background:#F0EEF6;
		display:table-cell;
		vertical-align: bottom;
		width:70%;
		padding-left:20px;
		.title{
			font-size:18px;
			font-weight:bold;
			margin-bottom:0;	
		}
		.position{
			font-size:18px;
			margin-bottom:5px;
		}
		.btn-detail{
			background:#003062;
			color:#fff;
			font-size:15px;
			padding: 3px 10px;
			border-radius:15px;
			display:inline-block;
			margin-bottom:5px;
		}
	}
}

.member-search-container{
	padding:0 35px;	
	margin:20px 0;
	.acps_form_container{
		p{
			float:left;
			&:first-child{
				width:40%;
			}
			span{
				display:block;
			}
		}
		.acps_form_control_wrap{
			.acps_text_input{
				height:36px;
				width:100%;
				border-radius:5px;
				border:1px solid #DDDEDC;
				padding:5px 10px;
			}
			.acps_submit{
				background:url(../img/btn_search_submit.png) no-repeat;
				border: 0 none;
				width: 37px;
				height: 36px;
				margin-left: 15px;
				padding: 0;
				text-indent: -9999px;
			}
			
		}
		.acps_keyword_input{
			float:right;
			width: 25%;
			select{
				width:100%;
			}
		}
	}
}

.members-container{
	padding:0 20px;
}

.committee_popup_content{
	.popup_info{
		display: table;
		height: 100%;
		width:100%;
		color:#fff;
		margin-bottom:20px;
		.popup_image{
			padding:10px;
			background:#fff;
		}
		.popup_title{
			display: table-cell;
			padding-left: 20px;
			vertical-align: bottom;
			width: 65%;
			.title{
				font-size:35px;
				font-weight:bold;
				margin-bottom:0;
			}
			.position{
				font-size:35px;
				margin-bottom:0;
			}
		}
	}
	.popup_content{
		span{
			color:#9C9C9C;
		}
	}
}