//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================


//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {

}
//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {

	.home-logo-container{
		padding:10px 0 15px 0;
		background:url(../img/home/bg_home.png) no-repeat top center;
		.logo_aeg{
			margin-left:80px;
		}
	}

}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}