.lecture_nav_container{
	margin:25px 0;
	width:60%;
	background:url(../img/bg_border_grey.png) repeat-x bottom;
	.lecture_nav_item{
		//border-bottom:1px solid #DDDDDC;
		float:left;
		text-align:center;
		width:180px;
		a{
			font-size:18px;
			color:#878787;
			display:block;
			padding:14px 0;
			&:hover{
				text-decoration:none;
				color:#00325C;
				span{
					background:#00325C;
				}
			}
		}
		
		&.active{
			border:1px solid #DDDDDC;
			border-bottom:none;
			border-top-left-radius:5px;
			border-top-right-radius:5px;
			background:#fff;
			a{
				font-size:30px;
				font-weight:bold;
				color:#00325C;
				padding:5px 0;
			}
		}
		&.past-research{
			width:250px;
		}
		span{
			font-size:15px;
			color:#fff;
			background:#DDDDDC;
			border-radius:10px;
			padding:0 8px;
			margin-left:15px;
		}
	}
}

.btn_yellow{
	position:absolute;
	right:0;
	top:25px;
	background:#F8B62C;
	color:#fff;
	border-radius:5px;
	padding:15px 40px;
}

.lecture-search-container{
	margin-bottom:15px;
}

.lecture-table{
	a{
		color:#444;
	}
}