.lecture-upload, .lecture-upload-bak,.video-upload, .video-upload-bak, .image-upload, .image-upload-bak{
	.page-banner-container{
		/*background:#003062;
		padding:10px 20px;
		margin-top:40px;*/
		h1{
			/*color:#fff;
			font-size:30px;
			text-transform:uppercase;
			margin:0;*/
		}
	}
	
	.gfield_label,.usp-label{
		color:#9A9A98;
		font-weight:normal!important;
	}
	
	.gform_button[type='submit'],.usp-submit{
		background:#3D88C8;
		border-radius:5px;
		font-size:18px;
		color:#fff;
		padding:10px 20px;
		border:0;
		margin-right:20px;
	}
	.gform_button{
		background:#DC5849;
		border-radius:5px;
		font-size:18px!important;
		color:#fff;
		padding:10px 20px;
		border:0;
	}
}

.usp-reset-button{
	background:#DC5849;
	border-radius:5px;
	font-size:18px!important;
	color:#fff;
	padding:10px 20px;
	border:0;
	display: inline-block;
	a{
		color:#fff;	
		&:hover{
			text-decoration: none;
		}
	}
}

.usp-file{
	margin: 10px 0;
}


.usp-label-title,.usp-label-content{
	    margin: 20px 0 10px!important;
}

.usp-input-content{
	    margin-bottom: 20px!important;
}

.usp-input-files{
	    width: 50%!important;
    border-radius: 5px;
    border: 1px solid #CCCCCA;
    margin-left: 0!important;
    border-left: none;
    padding: 9px 0 9px 10px!important;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.usp-label{
	margin: .625em 0 .5em;
	font-size: 14px!important;
}

.lecture-upload, .lecture-upload-bak{
	#input_2_1, #input_2_2,input[type='text'],textarea{
		width:100%;
		display:block;
		border-radius:5px;
		border:1px solid #CCCCCA;
	}
	
	#field_2_4, #field_2_5, #field_2_6{
		overflow: auto;
		margin-top:15px;
		.gfield_label{
			margin:0;
			font-size:18px;
			color:#fff;
			background:#003062;
			border-top-left-radius:5px;
			border-bottom-left-radius:5px;
			padding:10px 35px 10px 10px;
			float:left;
			margin-right:10px;
			width:110px;
		}
		.ginput_container{
			float:left;
			margin:0;
		}
	}

	.usp-label-file{
		margin:0;
		font-size:18px;
		color:#fff;
		background:#003062;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
		padding:15px 35px 15px 10px;
		float:left;
		margin-right:0;
		width:110px;
	}
	
	#field_2_4{
		.gfield_label{
			background: url("../img/lectures/logo_pdf.png") no-repeat #003062 70px 50%;
		}
	}
	.usp-label-file-1{
		background: url("../img/lectures/logo_pdf.png") no-repeat #003062 70px 50%;
	}
	
	#field_2_5{
		.gfield_label{
			background: url("../img/lectures/logo_video.png") no-repeat #003062 70px 50%;
		}
	}
	.usp-label-file-2{
			background: url("../img/lectures/logo_video.png") no-repeat #003062 70px 50%;
		}
	
	#field_2_6{
		.gfield_label{
			background: url("../img/lectures/logo_audio.png") no-repeat #003062 70px 50%;
		}
	}
	.usp-label-file-3{
			background: url("../img/lectures/logo_video.png") no-repeat #003062 70px 50%;
		}

	.usp-input-files{
		width: inherit;
	}
}

.video-upload, .video-upload-bak{
	#input_3_1, #input_3_3,.usp-input-title,.usp-input-content{
		width:100%;
		display:block;
		border-radius:5px;
		border:1px solid #CCCCCA;
	}
	
	#field_3_2{
		overflow: auto;
		margin-top:15px;
		.gfield_label{
			margin:0;
			font-size:18px;
			color:#fff;
			background:#003062;
			border-top-left-radius:5px;
			border-bottom-left-radius:5px;
			padding:10px 35px 10px 10px;
			float:left;
			margin-right:10px;
			width:110px;
			background: url("../img/lectures/logo_video.png") no-repeat #003062 70px 50%;
		}
		.ginput_container{
			float:left;
			margin:0;
		}
	}

	.usp-label-file{
		margin:0;
		font-size:18px;
		color:#fff;
		background:#003062;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
		padding: 15px 35px 15px 10px;
		float:left;
		margin-right:0;
		width: 130px;
    	background: url("../img/lectures/logo_video.png") no-repeat #003062 90px 50%;
	}
}

.image-upload, .image-upload-bak{
	#input_4_1, #input_4_2,.usp-input-title,.usp-input-content{
		width:100%;
		display:block;
		border-radius:5px;
		border:1px solid #CCCCCA;
	}
	
	#field_4_3{
		overflow: auto;
		margin-top:15px;
		.gfield_label{
			margin:0;
			font-size:18px;
			color:#fff;
			background:#003062;
			border-top-left-radius:5px;
			border-bottom-left-radius:5px;
			padding:10px 35px 10px 10px;
			float:left;
			margin-right:10px;
			width:110px;
			background: url("../img/lectures/logo_image_white.png") no-repeat #003062 70px 50%;
		}
		.ginput_container{
			float:left;
			margin:0;
			width:auto;
		}
	}

	.usp-label-files{
		margin:0;
		font-size:18px;
		color:#fff;
		background:#003062;
		border-top-left-radius:5px;
		border-bottom-left-radius:5px;
		padding:15px 35px 15px 10px;
		float:left;
		margin-right:0;
		width:130px;
		background: url("../img/lectures/logo_image_white.png") no-repeat #003062 90px 50%;
	}
}

.wp-editor-container textarea.wp-editor-area{
	
	width: 100%;
    display: block;
    border-radius: 5px;
    border: 1px solid #CCCCCA;
}
.js .tmce-active .wp-editor-area{
	color: #000!important;
}

.usp-input, .usp-textarea{
	font: inherit;
}

.usp-success{
	font-size: 17px;
	margin-top: 30px;
	min-height: 200px;
}