//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

.nav-container{
	position:relative;
	.login-btn{
		position:absolute;
		right:0;
		top:0;
		background:#898989;
		border-radius:15px;
		padding:3px 20px;
		color:#fff;
		font-size:15px;
		margin-top:12px;
	}
}

.navbar-default{
	background:#000;
	.navbar-nav{
		float:none;
		li{
			float:none;
			display:inline-block;
			a{
				color:#fff;
				padding:15px;
			}
		}
	}
}

.navbar-collapse{
	text-align:center;
}

#menu-primary-navigation{
	font-size: 0;
	li{
		position:relative;
		border-right:1px solid #C9C9C9;
		&:last-child{
			border-right:none;
		}
		
		&:hover{
			&>a{
				color:#F8B62D;
				background:#004E9E;
			}
			.sub-menu{
				display:block;
			}
		}
		
		a{
			font-size:15px;
		}
		
		.sub-menu{
			display:none;
			position:absolute;
			left:0;
			top:50px;
			background:#003062;
			padding-left:0;
			list-style:none;
			-webkit-box-shadow: 7px 7px 12px 0px rgba(50, 50, 50, 0.6);
			-moz-box-shadow:    7px 7px 12px 0px rgba(50, 50, 50, 0.6);
			box-shadow:         7px 7px 12px 0px rgba(50, 50, 50, 0.6);
			li{
				border-bottom:1px solid #1A4E7A;
				border-right:none;
				display:block;
				min-width:180px;
				&:last-child{
					border-bottom:none;
				}
				
				a{
					white-space: nowrap;
					display:block;
					padding:10px 15px;
					text-align:left;
				}
			}
		}
	}
}

.footer{
	background:#898989;
	.footer-container{		
		padding:5px 45px;
		.social-media{
			margin-top:10px;
			a{
				width:39px;
				height:39px;
				display:inline-block;
				margin-right:15px;
				&:last-child{
					margin-right:0;
				}
			}
			.btn_facebook{
				background:url(../img/btn_facebook.png) no-repeat;
			}
			.btn_google{
				background:url(../img/btn_google.png) no-repeat;
			}
			.btn_youtube{
				background:url(../img/btn_youtube.png) no-repeat;
			}
			.btn_twitter{
				background:url(../img/btn_twitter.png) no-repeat;
			}
			.btn_rss{
				background:url(../img/btn_rss.png) no-repeat;
			}
		}
		.contact-info{
			border-left:1px solid #FFF;
			color:#fff;
		}
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {

}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {

}